<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1595909315417-2edd382a56dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BvcnRzJTIwZXF1aXBtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=60);">
  <h1>DeFit</h1>
  <h4>The social network to rent sports gear and clothes wherever you are.</h4>
  <p>Join DeFit to rent your favourite sports equipement and apparel for great prices everywhere you go </p>
  <%= link_to "All Products", products_path, class: "page-btn" %>
</div>
