.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 150px 150px 40px;
  margin-bottom: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 2px #686767;
    .page-btn {
      text-shadow: none;
    }
}

.banner h1 {
  color: black;
}

.banner p {
  color: grey;
  opacity: .7;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
