.btn-primary{
    background-color: $mint-green;
    border-radius: 5px;
    border-color: transparent;
    color: grey;
}
.btn-primary:hover {
    background-color: rgb(139, 160, 139);
    border-color: transparent;
}

.page-btn {
    background-color: rgb(139, 160, 139);
    border-radius: 5px;
    border-color: transparent;
    padding: 10px;
    color: white;
    &:hover {
      color: white;
      background-color: rgb(164, 191, 164);
    }
}

.long {
  text-align: center;
  width: 100%;
}


a {
  text-decoration: none;
}
