.navbar-lewagon {
  justify-content: space-between;
  background-color: $darker-mint;
  margin-top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
 justify-content: space-between;
 display:flex;
 align-items: center;
 h4{
   color:  white;
   margin-left: 5px;
   font-weight: bold;
 }
}


.white-link {
  color: white !important;
}
