.show {
  margin: 30px;
  display: flex;
  justify-content: space-around;
    .main-img {
      width: 400px;
      height: 100%;
    }
}

.rent-form {
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  // background-color: rgb(234, 237, 235);
  background-color: white;
}
